body {
    background: gainsboro;
}

h1 {
    position: relative;
    font-size: 100px;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    top: 30px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 40px;
}

.gameBoardContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    margin: auto;
    top: 70px;
}

.column3 {
    position: absolute;
    height: 98%;
    width: 6px;
    color: black;
    background: black;
    border-radius: 3px;
    position: absolute;
    left: 33%;
}

.column4 {
    position: absolute;
    height: 98%;
    width: 6px;
    color: black;
    background: black;
    border-radius: 3px;
    position: absolute;
    left: 66%;
}

.column1 {
    position: absolute;
    height: 6px;
    width: 100%;
    color: black;
    background: black;
    border-radius: 3px;
    top: 33.3%;
}

.column2 {
    position: absolute;
    display: flex;
    height: 6px;
    width: 100%;
    color: black;
    background: black;
    border-radius: 3px;
    top: 66.6%;
}

.box {
    display: flex;
    order: 3;
    width: 150px;
    height: 152px;
    border-radius: 3px;
    background: inherit;
}

.marker {
    display: flex;
    position: relative;
    left: 29px;
    top: 2px;
    font-size: 130px;
}

.statusBoard {
    position: relative;
    display: flex;
    width: 230px;   
    height: 50px;
    margin: auto;
    top: 85px;
    font-size: 33px;
    
}

p {
    max-width: 450px;   
    word-wrap: break-word;
}

.winner {
    font-size: 35px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.boardTwo {
    position: relative;
    display: flex;
    width: 430px;   
    height: 50px;
    margin: auto;
    top: 87px;
    font-size: 30px;
}

.play {
    position: relative;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;
    background: white;
    outline: none;
}

button:hover {
    background-color: grey;
}

label {
    outline: none;
    font-size: 20px;
}

input {
    font-size: 15px;
    outline: none;
    width: 120px;
    margin: 3px;
    border: none;
}

